.video-placeholder {
	background-color: #ddd;
	text-align: center;
	padding-top: 30px;
	padding-bottom: 30px;
	margin-bottom: 20px;
}

.table-responsive {
	margin-bottom: 20px;
}

.card-placeholder {
	background-color: #ddd;
	text-align: center;
	padding-top: 30px;
	padding-bottom: 30px;
	margin-bottom: 20px;
}

.btn-group {
	margin-bottom: 20px;
}

.btn-group .btn {
	margin-right: 10px;
}

.btn-group .btn:last-child {
	margin-right: 0;
}

.videoElement {
	transform: rotateY(180deg);
    -webkit-transform:rotateY(180deg); /* Safari and Chrome */
    -moz-transform:rotateY(180deg); /* Firefox */
}